
.btn-get-video {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #222d32 90%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0);
    -webkit-box-shadow: 1px 3px 5px 1px #ADADAD;
    box-shadow: 1px 3px 5px 1px #ADADAD;
    color: #b8c7ce;
}

.btn-get-video:hover,.btn-get-video:focus,.btn-get-video:active {
    color: white;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #435c63 100%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0); /* IE6-9 */
    outline: none;
}

.source-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.show-video > div > iframe {
    height: 425px;
    width: 844px;
}

.show-video > div > img {
    position: relative;
    margin-bottom: -80px;
    margin-left: 790px;
}

.loading-image > img {
    margin-top: -59%;
}